.l_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  height: 56px;
  border-bottom: 1px solid #E4E8F7;
  background-color: transparent;
}

.l_header_contant {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #6F7DFF;
  & img {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .l_header {
    height: 64px;
    padding-left: 120px;
    padding-right: 120px;
  }
}