// @import "";

.c_button {
  background: #EF3340;
  border-radius: 8px;
  outline: none;
  padding: 20px 32px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
}
